<%= for skill_level <- @skill_levels do %>
  <h1 class="text-2xl font-semibold"><%= skill_level.name %></h1>
  <h3 class="text-lg"><%= skill_level.description %></h3>

  <div class="flex gap-4 flex-wrap">
    <%= for skill <- skill_level.skills do %>
      <img src={skill.icon_src} />
    <% end %>
  </div>
<% end %>
