<.sidenav_mobile />

<main class="px-4 py-20 sm:px-6 lg:px-8 overflow-auto flex-1 bg-dot-grid bg-[size:20px_20px]">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>

<.sidenav />
