<.sidenav_mobile />

<main class="px-4 pt-5 sm:pt-10 sm:px-6 lg:px-8 overflow-auto flex-1 bg-dot-grid bg-[size:20px_20px] flex flex-col">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>

  <footer class="text-xs text-right">
    Theme inspired and modified from <a href="https://chr15m.github.io/DoodleCSS/">Doodle CSS</a>
  </footer>
</main>

<.sidenav />
